<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>mixfinder</title>
    <meta property="fb:admins" content="515766067" />
    <link rel="image_src" href="http://mixfinder.sites.djangohosting.ch/media/fbThumb.png">
    <link type="text/css" rel="stylesheet" href="http://mixfinder.sites.djangohosting.ch/media/mixfinder.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://mixfinder.sites.djangohosting.ch/media/mixfinder-new2.js"></script>
    <script type="text/javascript" src="http://mixfinder.sites.djangohosting.ch/media/jquery.json-2.2.min.js"></script>
    <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-22163429-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

    </script>
</head>
<body>
    <div class="header">
        <div id="logo"><a href="javascript:location.reload(true)">mixfinder</a></div>
        <div id="subtitle">by <a target="_blank" href="http://twitter.com/maxjaderberg">Max Jaderberg</a>, powered by <a target="_blank" href="http://mixcloud.com">Mixcloud</a>.</div>
    </div>
    <div class="fb-holder">
        <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fmixfinder.sites.djangohosting.ch%2F&amp;layout=standard&amp;show_faces=false&amp;width=450&amp;action=like&amp;font&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>
    </div>
    <div class="content-box" id="input-box">
        <h1>if you like these songs</h1>
        <div class="input-holder">
            <div class="song-input">
                <input init="song name" class="song" value="song name" spellcheck="false" />by<input init="artist" value="artist" class="artist" spellcheck="false"/>
            </div>
            <div class="song-input">
                <input init="song name" class="song" value="song name" spellcheck="false" />by<input init="artist" value="artist" class="artist" spellcheck="false"/>
            </div>
            <div class="song-input">
                <input init="song name" class="song" value="song name" spellcheck="false" />by<input init="artist" value="artist" class="artist" spellcheck="false"/>
            </div>
        </div>
        <div class="more-button" id="more-input">
            <p>more</p>
        </div>
    </div>
    <div class="find-button"></div>
    <div class="content-box" id="first-box">
        <h1>you will love these mixes,</h1>
        <div class="loading-image"><img  id="first-loading" src="http://mixfinder.sites.djangohosting.ch/media/loading2.gif" style="display:inline;"></div>
        <div class="mix-holder">
            
        </div>
        <div class="more-button" id="more-first">
            <p>more</p>
        </div>
    </div>
    <div id="arrow-down">
    </div>
    
    <div class="content-box" id="third-box">
        <h1>and should try these mixes.</h1>
        <div class="loading-image"><img id="third-loading" src="http://mixfinder.sites.djangohosting.ch/media/loading2.gif" style="display:inline;"></div>
        <div class="mix-holder">
 
        </div>
        <div class="more-button" id="Div3">
            <p>more</p>
        </div>
    </div>
    
    

    <div class="content-box" id="second-box">
        <h1>probably like these songs,</h1>
        <div class="loading-image"><img id="second-loading" src="http://mixfinder.sites.djangohosting.ch/media/loading2.gif" style="display:inline;"></div>
        <div class="song-holder">
        </div>
        <div class="more-button" id="Div2">
            <p>more</p>
        </div>
    </div>
    
    <div id="arrow-left">
    </div>
    
    
   <span class="lol" style="clear:both;" ></span>
</body>
</html>
