<html>
<body>
<div>
<h1>
-----------------------------------------------------------
</h1>
<h1>Mixfinder</h1>
<h2>http://mixfinder.sites.djangohosting.ch</h2>

<h1>-----------------------------------------------------------</h1>
<p>
Note: all urls support JSON and JSONP by adding &callback=?
</p>
<p>
Process as follows:
</p>
<br />
<p>
1. Request session token: http://mixfinder.sites.djangohosting.ch/finder/start-session/
   <p>Example response: {"result": "success", "session_id": "5b3508ea-9fca-4df9-b375-61e0dd475041"}</p>
   <p>Save session_id.</p>
</p>
<br />
<p>
2. Start mixfinder process: http://mixfinder.sites.djangohosting.ch/finder/find-mixes/<i>session_id</i>/?q={"trackList":["song1 - artist1","song2 - artist2",...]}
   <p>This takes some time to complete fully. Callback will only occur once entire process has occurred (i.e. mixes found, related songs found, related mixes found).</p>
   <p>Response example: jsonp1300470081210({"tracks": ["split the atom - noisia", "xray - sub focus", "diesel power - prodigy"], "result": "success", "session_id": "ef507cc6-cb26-4e4b-89ff-38b64e0cee9a", "response": "complete"})</p>
</p>
<br />
<p>
3. Poll the different stages to get results as they come in. This avoids waiting for entire process to complete for feedback:
   <p>http://mixfinder.sites.djangohosting.ch/finder/stage-data/<i>session_id</i>/?stage=1 (or stage=2, stage=3)</p>
   <p>If stage not completed : {"response": "not complete", "result": "success", "session_id": "5b3508ea-9fca-4df9-b375-61e0dd475041", "stage": 1}</p>
   <p>Otherwise stage data is returned: jsonp1300470081220({"response": "stage complete", "data": {"shownext": 3, "songs": ["Gangster (Trolley Snatcha Remix) by Dreadzone", "Diesel Power by The Prodigy", "Nowhere To Run (Datsik & Excision Remix) by Apex", "Sweet Shop by Doctor P", "Woo Boost by Rusko", "Machine Gun (16 Bit Remix) by Noisia", "Typhoon by Foreign Beggars ft. Chasing Shadows", "Technetium by Reso", "Hotline by Torqux & Twist"]}, "result": "success", "session_id": "ef507cc6-cb26-4e4b-89ff-38b64e0cee9a", "stage": 2})</p>
</p>
<br />
<p>
4. Once all stages have been polled and data received, end the session to delete tempory session data from server:
   <p>http://mixfinder.sites.djangohosting.ch/finder/end-session/<i>session_id</i>/</p>
</p>
<p>
-----------------------------------------------------------
</p>
<p>
Max Jaderberg 2011
</p>
</div>
</body>
</html>